{% extends 'base.html.twig' %}

{% block body %}
    <ons-page>
        <ons-toolbar><div class="center"><span class="exit_button"><a href="{{ path('app_home_index') }}"><i class="fas fa-arrow-left"></i>QUEUES</a></span></div></ons-toolbar>

        <ons-list>
            <ons-list-header><p>Adding new symptoms will be available as soon as possible.</p>
            </ons-list-header>
         </ons-list>
    </ons-page>

{% endblock %}

