{% extends "base.html.twig" %}

{% block body %}


    <ons-splitter>
        <ons-splitter-side id="menu" side="center" width="220px" collapse >
            <ons-page>
                <ons-list>
                    <ons-list-item onclick="fn.load('home.html')" tappable>
                        Main
                    </ons-list-item>
                    <ons-list-item onclick="fn.load('pharmacy.html')" tappable>
                        Pharmacy
                    </ons-list-item>
                    <ons-list-item onclick="fn.load('hospitals.html')" tappable>
                        Hospitals
                    </ons-list-item>
                    <ons-list-item onclick="fn.load('patient.html')" tappable>
                        Patient
                    </ons-list-item>
                    <ons-list-item onclick="fn.load('queues.html')" tappable>
                        Laboratories
                    </ons-list-item>
                    <ons-list-item onclick="fn.load('ambulance.html')" tappable>
                        Ambulances
                    </ons-list-item>
                    <ons-list-item onclick="fn.load('queues.html')" tappable>
                        Symptoms
                    </ons-list-item>
                    <ons-list-item onclick="fn.load('queues.html')" tappable>
                        QUEUE TEST
                    </ons-list-item>
                </ons-list>
            </ons-page>
        </ons-splitter-side>
        <ons-splitter-content id="content" page="home.html"></ons-splitter-content>
    </ons-splitter>

    <template id="home.html">
        <ons-page>
                <ons-navigator>
                    <ons-page id="content">
                        <ons-toolbar>
                            <div class="center header_nav">
                                <img class="logo_asssist" src="img/ico-02.svg">
                                <img class="profile" src="img/ico-04.svg"  onclick="login_dialog()">
                            </div>
                        </ons-toolbar>


                            <div class="content_main">
                                <div id="search_top">
                                <ons-search-input
                                        class="search_input search_engine"
                                        id="search_engine"
                                        ng-model="searchText"
                                        placeholder="Enter symptoms, or desease...">
                                </ons-search-input>
                                <div id="autocomplete_s" class="autocomplete"></div>
                                </div>
                                {#<ons-button class="our_button"">Szukaj</ons-button></ons-row>#}
                        </div>
                        <ons-row>
                        <div class="buttons-select" id="content">
                            <ons-row >
                                <div class="category_header"><strong class="title_main">What are you looking for?</strong></div>
                                <ons-row class="opt_row">
                                    <ons-col class="cell" onclick="fn.load('hospitals.html')"><img src="/img/image-03.svg" class="banners_main"><span class="title">Hospitals</span></ons-col>
                                    <ons-col class="cell" onclick="fn.load('pharmacy.html')"><img src="/img/image-02.svg" class="banners_main"><span class="title">Pharmacy</span></ons-col>

                                    <ons-col class="cell" onclick="fn.load('ambulance.html')"><img src="/img/ambulance.svg" class="banners_main"><span class="title">Ambulances</span></ons-col>
                                    <ons-col class="cell" onclick="fn.load('laboratories.html')"><img src="/img/image-05.svg" class="banners_main"><span class="title">Lab</span></ons-col>
                                </ons-row>
                                <ons-row class="cell_full" onclick="fn.load('symptoms.html')"><ons-col><span class="title_symptoms">Check the symptoms</span></ons-col><ons-col width="50px" class="sympt_icon"><i style="color: #fff; font-size: 2em;" class="category_ico_2 fas fa-search "></i></ons-col></ons-row>
                            </ons-row>

                        </div>
                        </ons-row>
                            {#<div class="logo_bottom"><img class="logo_asssist2" src="img/ico-02.svg"></div>#}
                    </ons-page>
                </ons-navigator>
        </ons-page>
    </template>

    <template id="pharmacy.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i>Pharmacy</span></div></ons-toolbar>
            <div class="header_section">
                <ons-row>
                    <ons-col width="60px" onclick="fn.load('pharmacy.html')"><span><img src="/img/icon_01.svg" class="header_ico"></span></ons-col>
                    <ons-col width="60px" onclick="fn.load('lista-aptek.html')"><span><img src="/img/icon-02.svg" class="header_ico"></span></ons-col>
                </ons-row>

            </div>

            <div class="single_section">
                <ons-row>
                    <p style="color: black;">We are working hard to add this feature.</p>
                </ons-row>
            </div>
        </ons-page>
    </template>

    <template id="hospitals.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i> Hospitals</span></div></ons-toolbar>
            <div class="header_section">
                <ons-row>
                    <ons-col width="60px" onclick="fn.load('hospitals.html')"><span><img src="/img/icon_01.svg" class="header_ico"></span></ons-col>
                    <ons-col width="60px" onclick="fn.load('lista.html')"><span><img src="/img/icon-02.svg" class="header_ico"></span></ons-col>
                </ons-row>
                <div class="single_section">
                    <ons-row>
                        <p style="color: black;">We are working hard to add this feature</p>
                    </ons-row>
                </div>
            </div>
        </ons-page>
    </template>

    <template id="laboratories.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i> Laboratories</span></div></ons-toolbar>
            <div class="header_section">
                <div class="category_header"><strong class="title"> Laboratories</strong></div>
            </div>
            <div class="single_section">
                <ons-row>
                    <p style="color: black;">We are working hard to add this feature</p>
                </ons-row>
            </div>
        </ons-page>
    </template>


    <template id="prevention.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i> Prevention</span></div></ons-toolbar>
            <div class="header_section">
                <div class="category_header"><strong class="title"> Prevention</strong></div>
            </div>
        </ons-page>
    </template>

    <template id="ambulance.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i> Ambulances</span></div></ons-toolbar>
            <div class="header_section">
                <div class="category_header"><strong class="title"> Ambulances</strong></div>
                <iframe  frameBorder="0" style="position: relative; width: 100%; min-height: 600px;" src="/ambulance/get-map"></iframe>
            </div>
        </ons-page>
    </template>

    <template id="symptoms.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i> Symptoms</span></div></ons-toolbar>
            <div class="header_section">
                <div class="category_header"><strong class="title">Symptoms</strong></div>
            </div>
            <div class="single_section">
                <ons-row>
                    <p style="color: black;">We are working hard to add this feature</p>
                </ons-row>
            </div>
        </ons-page>
    </template>

    <template id="patient.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i> Patient</span></div></ons-toolbar>
            <div class="header_section">
                <div class="category_header"><strong class="title">Patient</strong></div>

            </div>
        </ons-page>
    </template>

    <template id="lista.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i> List of hospitals</span></div></ons-toolbar>
            <div class="header_section">
                <ons-row>
                    <ons-col width="60px" onclick="fn.load('hospitals.html')"><span><img src="/img/icon_01.svg" class="header_ico"></span></ons-col>
                    <ons-col width="60px" onclick="fn.load('lista.html')"><span><img src="/img/icon-02.svg" class="header_ico"></span></ons-col>
                </ons-row>

            </div>

            <div class="header_section">
                <div class="single_section">
                    <ons-row>
                        <ons-col width="60px"><i class="far fa-clock"></i></ons-col><ons-col><strong id="d_reminder">Saturday nov/24/2018 11:00</strong><span id="pharm_reminder">Paracetamol</span></ons-col>
                    </ons-row>
                </div>
                <div class="single_section">
                    <ons-row>
                        <ons-col width="60px"><i class="far fa-clock"></i></ons-col><ons-col><strong id="d_reminder">Saturday nov/24/2018 11:00</strong><span id="pharm_reminder">Paracetamol</span></ons-col>
                    </ons-row>
                </div>
            </div>
        </ons-page>
    </template>

    <template id="lista-aptek.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i>List of pharmacy</span></div></ons-toolbar>
            <div class="header_section">
                <ons-row>
                    <ons-col width="60px" onclick="fn.load('pharmacy.html')"><span><img src="/img/icon_01.svg" class="header_ico"></span></ons-col>
                    <ons-col width="60px" onclick="fn.load('lista-aptek.html')"><span><img src="/img/icon-02.svg" class="header_ico"></span></ons-col>
                </ons-row>

            </div>

            <div class="header_section">
                <div class="single_section_pharm">
                    <ons-row>
                        <ons-col><strong class="pharm_mark">Aptekarz warszawski</strong>
                            <span class="pharm_mark">Nowowiejska 5, 00-643 Warszawa</span>
                            <span class="pharm_mark">Opening hours: 08:00 - 20:00</span>
                            <span class="pharm_mark">Phone 22 825 22 42</span>
                        </ons-col>
                    </ons-row>
                </div>
            </div>
        </ons-page>
    </template>

    <template id="login_dialog.html">
        <ons-dialog id="login-dialog">
            <div style="text-align: center; margin-top: 30px;">
                <span onclick="hideDialog('login-dialog')" class="dialog_close">X</span>
                <p>
                    <ons-input id="username" modifier="underbar" placeholder="Nazwa użytkownika" float></ons-input>
                </p>
                <p>
                    <ons-input id="password" modifier="underbar" type="password" placeholder="Hasło" float></ons-input>
                </p>
                <p style="margin-top: 30px;">
                    <ons-button onclick="login()">Zaloguj</ons-button>
                    <ons-button onclick="hideDialog('login-dialog')">Zarejestruj</ons-button>
                </p>

            </div>
        </ons-dialog>
    </template>

    <template id="queues.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i>QUEUES</span></div></ons-toolbar>
            <div class="header_section">
                <ons-row>
                    <ons-col width="60px" onclick="fn.load('queues.html')"><span><img src="/img/icon_01.svg" class="header_ico"></span></ons-col>
                    <ons-col width="60px" onclick="fn.load('queues-list.html')"><span><img src="/img/icon-02.svg" class="header_ico"></span></ons-col>
                </ons-row>

            </div>

            <div class="single_section">
                <ons-row>
                    <!-- TU TRZEBA ZMIENIC SRC NA TAKI Z DOBRY QUERY -->
                    <iframe width="600" height="450" frameborder="0" style="border:0"
                            src="./queues/find?benefit=okulistyczna" allowfullscreen></iframe>
                </ons-row>
            </div>
        </ons-page>
    </template>

    <template id="queues-list.html">
        <ons-page>
            <ons-toolbar><div class="center"><span class="exit_button" onclick="fn.load('home.html')"><i class="fas fa-arrow-left"></i>List of pharmacy</span></div></ons-toolbar>
            <div class="header_section">
                <ons-row>
                    <ons-col width="60px" onclick="fn.load('queues.html')"><span><img src="/img/icon_01.svg" class="header_ico"></span></ons-col>
                    <ons-col width="60px" onclick="fn.load('queues-list.html')"><span><img src="/img/icon-02.svg" class="header_ico"></span></ons-col>
                </ons-row>

            </div>

            <div class="header_section">
                <!-- TU TRZEBA ZMIENIC NAZWY I PODPIAC ODPOWIEDNI QUERY -->
                <div id="elele"></div>
                <script>
                    $('#elele').load('queues/find?benefit=okulistyczna&list=true');
                </script>
            </div>
        </ons-page>
    </template>

{% endblock %}