<div class="single_section_pharm">
    <ons-row>
        <ons-col><strong class="pharm_mark">{{ data.provider }}</strong>
            <span class="pharm_mark">Address: {{ data.address }}</span>
            <span class="pharm_mark">City: {{ data.locality }}</span>
            <span class="pharm_mark">Phone: <a href="tel:{{ data.phone }}">{{ data.phone }}</a></span>
            <span class="pharm_mark">NIP: {{ data.nip_provider }}</span>
            <span class="pharm_mark">Average waiting: {{ data.statistics.average_waiting }}</span>
            <span class="nearest-day">First available date: {{ data.dates.date }}</span>
        </ons-col>
    </ons-row>
</div>