{% extends "base.html.twig" %}

{% block body %}

    <ons-page>
        <ons-toolbar><div class="center"><span class="exit_button"><a href="{{ path('app_home_index') }}"><i class="fas fa-arrow-left"></i>QUEUES</a></span></div></ons-toolbar>
        <div class="header_section">
            <ons-row>
                <ons-col width="60px"><a href="{{ path('find', { 'mode': 'map', 'id': id, 'entity': entity }) }}"><span><img src="/img/icon_01.svg" class="header_ico"></span></a></ons-col>
                <ons-col width="60px"><a href="{{ path('find', { 'mode': 'list', 'id': id, 'entity': entity }) }}"><span><img src="/img/icon-02.svg" class="header_ico"></span></a></ons-col>
                <ons-col width="60px" style=" margin-left: auto;"><span><i class="fas fa-sliders-h"></i></span></ons-col>
            </ons-row>

        </div>

        <div>
            <ons-row>
                <!-- TU TRZEBA ZMIENIC SRC NA TAKI Z DOBRY QUERY -->
                {{ include('queues/findByBenefitMap.html.twig') }}
            </ons-row>
        </div>
    </ons-page>

{% endblock %}