{% extends "base.html.twig" %}

{% block body %}

<ons-page>
    <ons-toolbar><div class="center"><span class="exit_button"><a href="{{ path('app_home_index') }}"><i class="fas fa-arrow-left"></i>QUEUES</a></span></div></ons-toolbar>
    <div class="header_section">
        <ons-row>
            <ons-col width="60px"><a href="{{ path('find', { 'mode': 'map', 'id': id, 'entity': entity }) }}"><span><img src="/img/icon_01.svg" class="header_ico"></span></a></ons-col>
            <ons-col width="60px"><a href="{{ path('find', { 'mode': 'list', 'id': id, 'entity': entity }) }}"><span><img src="/img/icon-02.svg" class="header_ico"></span></a></ons-col>
            <ons-col width="60px" style=" margin-left: auto;"><span><i class="fas fa-sliders-h"></i></span></ons-col>
        </ons-row>

    </div>

    <div class="header_section">
        <!-- TU TRZEBA ZMIENIC NAZWY I PODPIAC ODPOWIEDNI QUERY -->
        {% for item in data %}
            <div id="elele{{ item.id }}">
            <div class="single_section_pharm">
                <ons-row>
                    <ons-col><strong class="pharm_mark" onclick=" $('#elele{{ item.id }}').load('{{ path('queue-find', { 'id':  item.id }) }}');">{{ item.provider }}</strong>
                        <span class="pharm_mark">Address: {{ item.address }}</span>
                        <span class="pharm_mark">Phone: <a href="tel:{{ item.phone }}">{{ item.phone }}</a></span>
                    </ons-col>
                </ons-row>
            </div>
            </div>
        {% endfor %}
    </div>
</ons-page>

{% endblock %}