{% extends 'map.html.twig' %}

{% block mapContainerStyle %}
    <style>
        #mapidd { height: 100%; width: 100%; position: absolute; }
        #content { height: 100%; width: 100%; position: absolute; }
    </style>
{% endblock %}
{% block mapContainer %}
    <div id="content"></div>
{% endblock %}
{% block mapScript %}
    <script>
        $(document).ready(function() {
            var waitForCurrentPosition = setInterval(function () {
                if (currentPosition !== null) {
                    loadMap('content');
                    clearInterval(waitForCurrentPosition);
                    {% for place in data %}
                        addMarker({
                            lat: {{ place.coordinates.lat }},
                            lng: {{ place.coordinates.lng }},
                            popup: '<div class="marker-popup">' +
                                '<div><h3><strong><a href="tel:+496170961709">{{ place.provider }}</a><strong><h3></div>' +
                                '<div>Telefon: {{ place.phone }}' +
                                '<div>Odległość: {{ place.dist }}' +
                                '<div>Najbliższy wolny termin: {{ place.first_available_date }}' +
                                '<div>Adres: {{ place.address }}' +
                                '</div>'
                        }, "{{ place.id }}");
                    {% endfor %}
                }
            });
        });
    </script>
{% endblock %}