{% extends "base.html.twig" %}

{% block body %}
    <ons-page>
        <ons-toolbar><div class="center"><span class="exit_button"><a href="{{ path('app_home_index') }}"><i class="fas fa-arrow-left"></i>QUEUES</a></span></div></ons-toolbar>

        <ons-list>
            <ons-list-header><p>Nie jesteśmy pewni do jakich poradni powinniśmy Cię skierować z tym objawem. Czy możesz nam pomóc?</p>
            </ons-list-header>
            {% for benefit in allBenefits %}
            <ons-list-item modifier="chevron" onclick="">
                {{ benefit.name }}
            </ons-list-item>
            {% endfor %}
        </ons-list>
    </ons-page>


{% endblock %}