* {
    font-family: 'Roboto+Condensed', sans-serif;
}
strong {
    color: #030e6f;
}
a {
    text-decoration: none;
    color: #333;
}

.pharm_reminder {
    color: #030e6f;
}
img.header_ico {
    width: 30px;
    margin-left: 20px;
}

.mobile_title {
    float: right;
}

.logo_here {
    display: block;
    margin: 0 auto;
}

.logo_container {
    background: #fff;

}
.search_input {
    box-shadow: none;
    padding: 30px;
    padding-bottom: 0px;
    display: block;
    margin: 0 auto;
}

#search_top {
    margin: 15px;
    position: relative;
    padding-top: 20px;
}
.search-input {
    box-shadow: none;
    padding-bottom: 0px;
    display: block;
    background-color: #fff;
    margin: 0 auto;
}

.autocomplete {
    position: absolute;
    width: 89%;
    background: #fff;
    padding: 30px;
    padding-top: 0px;
    color: #333;
    margin-left: 30px;
    display: none;
}

.dialog_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 10px 4px 10px;
    background: #333;
    color: #fff;
}
.hello_text {
    display: block;
}
.buttons-select {
    background: #fff;
    padding: 15px;
    height: 700px;
    width: 100%;
}
.content_main {
    width: 100%;
    background: url(/img/bg_header.png) center center;
    height: 150px;
    background-size: cover;
}
.category_header {
    text-align: center;
    width: 100%;
}

.list-item__center {
    width: 100%;
}

.logo_bottom {
    width: 100%;
}

.logo_asssist2 {
margin: 0 auto;
display: block;
margin-top: 10px;
vertical-align: middle;
width: 146px;}

.opt_row .cell { border: 1px #2979ff solid;
    background-image: linear-gradient(to right, #254bc1 , #0f24ac);
    color: #fff;
    margin: 10px;
    text-align: center;
    height: 165px;
    padding-top: 40px;}

.ons-col .cell:hover {
    color: #0a1ba4;
}

 .cell_full {    color: #fff; margin: 10px; padding: 10px; padding-top: 30px;  background: url("/img/bg.png") center center no-repeat;  background-size: cover; flex-basis: 20%; flex-direction: row-reverse;

}
.opt_row { flex-basis: 75%;}
.sympt_icon {
    padding-left: 10px;
    padding-top: 20px;
}

.cell {
    width: 25%;

}

.welcome_layer{     z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url('/img/bg_main.png') center center no-repeat ;
    background-color: #2854c6;
    background-size: 100%;

}


.opt_row .cell i{
    color: #fff;
}
#menu-dialog > div:nth-child(2) {
    width: 90%;
    height: 60%;
}

.title {
    display: block;
    font-size: 14px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.title_main {
    display: block;
    font-size: 17px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: #0a1ba4;
    text-align: left;
    letter-spacing: -0.5px;
}

.title_symptoms {
    display: block;
    font-size: 14px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;


}

.opt_row i { font-size: 3em; color: #404040}

.header_section {
    line-height: 40px;
    display: block;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-family: 'Noto Sans';
    background: #fff;
    padding: 15px 0;

}

.exit_button {
    margin-left: 10px;
}

.exit_button i {
    margin-right: 10px;
}

.header_section i {
    color: #fff;
    font-size: 2em;
    line-height: 40px;

}

.banners_main {
    height: 66px;
}

.header_section i{
    color: #333;
    font-size: 1.2em;
}
.pharm_mark {
    display: block;
    line-height: 25px;
}


.single_section {
    background: #040e6f;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: block;
    background: #f0eef0;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.single_section_pharm {
    color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin: 15px;
    display: block;
    background: #f0eef0;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}
.single_section_pharm i {
    color: #333;
    font-size: 3em;
}
#d_reminder {
    display: block;
}
.our_button { margin: 0 auto; width: 197px; display: block;}
.header_nav {        background-image: linear-gradient(to right, #254bc1 , #0f24ac); }
.header_burgier { background-color: #254bc1; }

.toolbar__right {display: none;}
.toolbar__center {margin-left: 0 !important; margin-right: 0 !important;}
#button_menu { float: left;}
.logo_asssist {               margin-bottom: 5px;
    width: 146px;
    margin-left: 20px;
    vertical-align: middle;
}
.profile {    width: 33px;
    height: 33px;
    background-color: #fff;
    border-radius: 50%;
    float: right;
    margin-top: 11px;
    margin-right: 11px;}

@media only screen and (max-width: 796px) {
    .cell {

        flex-basis: 31%;
    }
    .cell_full {
        flex-basis: 100%;
        background: url("/img/bg.png");
        flex-direction: row;
        padding-top: 10px;
    }
    .opt_row {
        flex-basis: 100%;}
    .sympt_icon { display: block; padding-top: 10px; }
    .welcome_layer {     background: url('/img/toplayer.png') center center no-repeat ;}
    .content_main { background-image: none;     height: 85px;}
    .search_input { padding: 0;}
    #search_top {     margin: 0 auto;
        width: 93%; display: block;}
    .title_symptoms {
        line-height: 30px;}
    .autocomplete {
        position: absolute;
        width: 100%;
        margin-left: 0;
        background: #fff;
        padding: 30px;
        padding-top: 0px;
        color: #333;
    }

}
