{% extends 'map.html.twig' %}
{% block mapContainerStyle %}
    <style>
        #mapidd { height: 100%; width: 100%; position: absolute; }
        #content { height: 100%; width: 100%; position: absolute; }
        #nearest-ambulance {
            margin: 10px;
        }
        #nearest-ambulance {
            font-size: 14px !important;
        }
        .pharm_mark.ambulance {
            line-height: 1.9em;
        }
        .small {
            font-size: 10px;
        }
    </style>
{% endblock %}
{% block mapContainer %}
<div id="nearest-ambulance">

</div>
<div id="content">
    <ons-progress-bar indeterminate></ons-progress-bar>
</div>
{% endblock %}
{% block mapScript %}
<script>

    $(document).ready(function() {
        var waitForCurrentPosition = setInterval(function () {
            if (currentPosition !== null) {
                // loadMap('content');
                $('#content').load('get-map-content/' + currentPosition.lat + '/' + currentPosition.lng, function() {
                    console.log(yourMarkers);
                    $('#nearest-ambulance').load('get-nearest/', function () {
                        console.log('ysaysasjk')
                    })
                });
                clearInterval(waitForCurrentPosition);
            }
        }, 500);
    });
</script>
{% endblock %}