<div id="mapidd"></div>
<script>
    loadMap('mapidd');
    {% for ambulance in ambulances %}
        addMarker({
            lat: {{ ambulance.lat }},
            lng: {{ ambulance.lng }},
            color: "{{ ambulance.timeTravelData.color }}",
            popup: '<div class="marker-popup">' +
                    '<div><h3><strong>Telefon: <a href="tel:+496170961709">{{ ambulance.phone }}</a><strong><h3></div>' +
                    '<div>Średni czas dojazdu: {{ ambulance.timeTravelData.text }}' +
                    '<div>Odległość: {{ ambulance.timeTravelData.distance }}' +
                    '<div>Adres: {{ ambulance.address }}' +
                 '<div>Adres: {{ ambulance.name }}' +
                    '</div>'
        }, "{{ ambulance.id }}");
    {% endfor %}
</script>