{#<div class="nearest">#}
    {#<div><h3>Najbliższa stacja pogotowia pod względem czasu dojazdu</h3></div>#}
    {#<div><h4>Telefon: <a href="tel:{{ ambulance.phone }}">{{ ambulance.phone}}</a></h4></div>#}
    {#<div>Średni czas dojazdu: {{ ambulance.timeTravelData.text}}</div>#}
    {#<div>Odległość: {{ ambulance.timeTravelData.distance}}</div>#}
    {#<div>Adres: {{ ambulance.address}}, {{ ambulance.city}}</div>#}
{#</div>#}
<div class="header_section">
    <a href="tel:{{ ambulance.phone }}"><div class="single_section_pharm">
        <ons-row>
            <ons-col>
                <strong class="pharm_mark ambulance">NEAREST AMBULANCE</strong>
                <strong class="pharm_mark ambulance">Telefon: {{ ambulance.phone}}</strong>
                <span class="pharm_mark ambulance small">AVARAGE TIME TRAVEL: {{ ambulance.timeTravelData.text}}</span>
                <span class="pharm_mark ambulance small">ADDRESS: {{ ambulance.address}}</span>
                <span class="pharm_mark ambulance small">DISTANCE: {{ ambulance.timeTravelData.distance}}</span>
            </ons-col>
        </ons-row>
    </div>
    </a>
</div>