<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HealthAssist{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset("css/onsenui.css") }}">
    <link rel="stylesheet" href="{{ asset("css/onsen-css-components.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    <link rel="shortcut icon" src="{{ asset("favicon.ico") }}" sizes="32x32">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <script src="{{ asset("/js/onsenui.min.js") }}"></script>
    <script src="{{ asset("/js/template_script.js") }}"></script>
    <link rel="manifest" href="{{ asset("manifest.json") }}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>

        $(function () {

            $('body').on('click', '.suggest', function () {
                $('#search_engine input').val($(this).text());

            });

            $('body').on('input propertychange focus', '#search_engine input', function () {
                var value = $(this).val();
                if (value.length == 0) {
                    $('#autocomplete_s').hide();
                    return;

                }
                
                $.getJSON("/find/" + encodeURI(value), function (data) {
                    console.log(data);
                    var suggest = [];
                    var suggestEntity = [];
                    var suggestId = [];
                    for (var i = 0; i < data.length; i++) {
                        var val = data[i];
                        if (val.name.toLowerCase().startsWith(value.toLowerCase())) {
                            suggest.push(val.name);
                            suggestId.push(val.id);
                            suggestEntity.push(val.entity);
                        }
                    }

                    $('#autocomplete_s').html('');
                    if ( suggest.length == 0 ) {
                        $('#autocomplete_s').append('<a href="./addSymptom"><div class="new_suggest"> No result, but you can add this symptom and help us with app growth.</div></a> ');
                        $('#autocomplete_s').show();
                        return;
                    }


                    console.log(suggest);
                    for (var i = 0; i < suggest.length; i++) {
                        $('#autocomplete_s').append('<a href="./queues/find/map/' + suggestEntity[i] +'/' + suggestId[i] +'"><div class="suggest">' + suggest[i] + '</div></a> ');
                    }
                    $('#autocomplete_s').show();
                });

            });
            $('body').on('click', function () {
                $('#autocomplete_s').hide();
            });
        });

        // szpachlakod lokalizacje
        if (true) {
            var currentPosition = null;
            getPosition = function (options) {
                return new Promise(function (resolve, reject) {
                    jQuery.post( "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyD36EpZR-H_zl30MbU0q2C8Vk8L4fkCzd0", function(success) {
                        resolve(success)
                    }).fail(function(err) {
                        reject(err);
                    });
                });
            };
            getPosition()
                .then((position) => {
                    currentPosition = {
                        lat: position.location.lat,
                        lng: position.location.lng
                    };
                })
                .catch((err) => {
                    alert("Cannot check your current location!");
                });
        } else {
            var currentPosition = null;
            if (!Cookies.get('lat') || typeof Cookies.get('lat') === undefined || Cookies.get('lat') === 'undefined')
                var x, y, town, state, city;
            var getCityByPosition = function (options) {
                return new Promise(function (resolve, reject) {
                    jQuery.post("https://nominatim.openstreetmap.org/reverse?format=json&lat=" + currentPosition.lat + "&lon=" + currentPosition.lng + "&zoom=18&addressdetails=1", function (success) {
                        resolve(success)
                    }).fail(function (err) {
                        reject(err);
                    });
                });
            };
            var getPosition = function (options) {
                return new Promise(function (resolve, reject) {
                    jQuery.post("https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyD36EpZR-H_zl30MbU0q2C8Vk8L4fkCzd0", function (success) {
                        resolve(success)
                    }).fail(function (err) {
                        reject(err);
                    });
                });
            };
            getPosition()
                .then((position) => {
                    currentPosition = {
                        lat: position.location.lat,
                        lng: position.location.lng
                    };
                    x = position.location.lat;
                    y = position.location.lng;
                })
                .catch((err) => {
                    alert("Cannot check your current location!");
                });
            var waitForCurrentPosition = setInterval(function () {
                if (currentPosition !== null) {
                    getCityByPosition()
                        .then((position) => {
                            city = position.address.city;
                            town = position.address.town;

                            state = position.address.state;

                            Cookies.set('lat', x);
                            Cookies.set('lng', y);
                            Cookies.set('city', city);
                            Cookies.set('town', town);
                            Cookies.set('state', state);
                        })
                        .catch((err) => {
                            alert("Cannot check your current location!2");
                        });
                    clearInterval(waitForCurrentPosition);
                }
            });

            if (true) {
                var currentPosition = null;
                getPosition = function (options) {
                    return new Promise(function (resolve, reject) {
                        jQuery.post( "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyD36EpZR-H_zl30MbU0q2C8Vk8L4fkCzd0", function(success) {
                            resolve(success)
                        }).fail(function(err) {
                            reject(err);
                        });
                    });
                };
                getPosition()
                    .then((position) => {
                        currentPosition = {
                            lat: position.location.lat,
                            lng: position.location.lng
                        };
                    })
                    .catch((err) => {
                        alert("Cannot check your current location!");
                    });
            } else {
                var currentPosition = null;
                if (!Cookies.get('lat') || typeof Cookies.get('lat') === undefined || Cookies.get('lat') === 'undefined')
                    var x, y, town, state, city;
                var getCityByPosition = function (options) {
                    return new Promise(function (resolve, reject) {
                        jQuery.post("https://nominatim.openstreetmap.org/reverse?format=json&lat=" + currentPosition.lat + "&lon=" + currentPosition.lng + "&zoom=18&addressdetails=1", function (success) {
                            resolve(success)
                        }).fail(function (err) {
                            reject(err);
                        });
                    });
                };
                var getPosition = function (options) {
                    return new Promise(function (resolve, reject) {
                        jQuery.post("https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyD36EpZR-H_zl30MbU0q2C8Vk8L4fkCzd0", function (success) {
                            resolve(success)
                        }).fail(function (err) {
                            reject(err);
                        });
                    });
                };
                getPosition()
                    .then((position) => {
                        currentPosition = {
                            lat: position.location.lat,
                            lng: position.location.lng
                        };
                        x = position.location.lat;
                        y = position.location.lng;
                    })
                    .catch((err) => {
                        alert("Cannot check your current location!");
                    });
                var waitForCurrentPosition = setInterval(function () {
                    if (currentPosition !== null) {
                        getCityByPosition()
                            .then((position) => {
                                city = position.address.city;
                                town = position.address.town;

                                state = position.address.state;

                                Cookies.set('lat', x);
                                Cookies.set('lng', y);
                                Cookies.set('city', city);
                                Cookies.set('town', town);
                                Cookies.set('state', state);
                            })
                            .catch((err) => {
                                alert("Cannot check your current location!2");
                            });
                        clearInterval(waitForCurrentPosition);
                    }
                });

            };
        };
    </script>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
