<html>
<head>
    <meta charset='utf-8' />
    <title>OpenMapTiles OSM Bright style</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="{{ asset("css/onsenui.css") }}">
    <link rel="stylesheet" href="{{ asset("css/onsen-css-components.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="manifest" href="{{ asset("manifest.json") }}">
    <script src="{{ asset("js/onsenui.min.js") }}"></script>
    <script src="{{ asset("js/template_script.js") }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script>
        var markersColor = {
            green: "{{ asset('img/markers/marker-icon-2x-green.png') }}",
            blue: "{{ asset('img/markers/marker-icon-2x-blue.png') }}",
            red: "{{ asset('img/markers/marker-icon-2x-red.png') }}",
            yellow: "{{ asset('img/markers/marker-icon-2x-yellow.png') }}"
        };
        var markerShadow = "{{ asset('img/markers/marker-shadow.png') }}"
    </script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script>

        // szpachlakod lokalizacje
        if (true) {
            var currentPosition = null;
            getPosition = function (options) {
                return new Promise(function (resolve, reject) {
                    jQuery.post( "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyD36EpZR-H_zl30MbU0q2C8Vk8L4fkCzd0", function(success) {
                        resolve(success)
                    }).fail(function(err) {
                        reject(err);
                    });
                });
            };
            getPosition()
                .then((position) => {
                    currentPosition = {
                        lat: position.location.lat,
                        lng: position.location.lng
                    };
                })
                .catch((err) => {
                    alert("Cannot check your current location!");
                });
        } else {
            var currentPosition = null;
            if (!Cookies.get('lat') || typeof Cookies.get('lat') === undefined || Cookies.get('lat') === 'undefined')
                var x, y, town, state, city;
            var getCityByPosition = function (options) {
                return new Promise(function (resolve, reject) {
                    jQuery.post("https://nominatim.openstreetmap.org/reverse?format=json&lat=" + currentPosition.lat + "&lon=" + currentPosition.lng + "&zoom=18&addressdetails=1", function (success) {
                        resolve(success)
                    }).fail(function (err) {
                        reject(err);
                    });
                });
            };
            var getPosition = function (options) {
                return new Promise(function (resolve, reject) {
                    jQuery.post("https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyD36EpZR-H_zl30MbU0q2C8Vk8L4fkCzd0", function (success) {
                        resolve(success)
                    }).fail(function (err) {
                        reject(err);
                    });
                });
            };
            getPosition()
                .then((position) => {
                    currentPosition = {
                        lat: position.location.lat,
                        lng: position.location.lng
                    };
                    x = position.location.lat;
                    y = position.location.lng;
                })
                .catch((err) => {
                    alert("Cannot check your current location!");
                });
            var waitForCurrentPosition = setInterval(function () {
                if (currentPosition !== null) {
                    getCityByPosition()
                        .then((position) => {
                            city = position.address.city;
                            town = position.address.town;

                            state = position.address.state;

                            Cookies.set('lat', x);
                            Cookies.set('lng', y);
                            Cookies.set('city', city);
                            Cookies.set('town', town);
                            Cookies.set('state', state);
                        })
                        .catch((err) => {
                            alert("Cannot check your current location!2");
                        });
                    clearInterval(waitForCurrentPosition);
                }
            });
        }

    </script>

    <script src="{{ asset('js/map.js') }}"></script>
    {% block mapContainerStyle %}
        {#Tu umieść style do kontenera mapy (nie do samej mapy a dla kontenera na mapę)#}
    {% endblock %}
</head>

<body>
{% block mapContainer %}
    {#Tu zdefiniuj diva na mapę#}
{% endblock %}

{% block mapScript %}
    {#loadMap() //Załadowainie mapy - upewnij się że w currentPosition są już dane przed załdaowniem mapy #}
    {#addMarker() // Dodawanie markerów#}
{% endblock %}
</body>
</html>